<!-- DEFAULT -->
<button (click)="changeUserName()">Изменить имя пользователя</button>
<br><br>
<span>Имя пользователя = {{userName}}</span>
<br><br>
<app-user></app-user>

<!-- ONPUSH -->
<!-- <button (click)="changeUserName()">Изменить имя пользователя</button>
<br><br>
<button (click)="changeLogin()">Изменить логин пользователя</button>
<br><br>
<span>Имя пользователя = {{userName}}</span>
<br><br>
<span>Логин пользователя = {{login}}</span>
<br><br>
<app-user [userValue]="userName" [someObj]="exampleObject"></app-user>
<br><br>
<button (click)="changeObjValue()">Изменить значение объекта</button>
<br><br>
<button (click)="changeObjByLink()">Изменить ссылку на объект</button> -->

<!-- Кастом -->
<!-- <app-user></app-user> -->
